@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-airplane, .icon-remove, .icon-briefcase, .icon-truck, .icon-road, .icon-accessibility, .icon-target, .icon-shield, .icon-lightning, .icon-switch, .icon-power-cord, .icon-signup, .icon-arrow-up-left, .icon-arrow-up, .icon-arrow-up-right, .icon-arrow-right, .icon-arrow-down-right, .icon-arrow-down, .icon-arrow-down-left, .icon-arrow-left, .icon-cog, .icon-gift, .icon-calendar-alt-fill, .icon-magnifying-glass, .icon-loop, .icon-untitled, .icon-untitled-2, .icon-untitled-3, .icon-untitled-4, .icon-untitled-5, .icon-untitled-6, .icon-untitled-7, .icon-untitled-8, .icon-untitled-9, .icon-untitled-10, .icon-untitled-11, .icon-untitled-12, .icon-untitled-13, .icon-untitled-14, .icon-untitled-15, .icon-untitled-16, .icon-untitled-17, .icon-untitled-18, .icon-untitled-19, .icon-untitled-20, .icon-untitled-21, .icon-untitled-22, .icon-untitled-23, .icon-untitled-24, .icon-untitled-25, .icon-untitled-26, .icon-untitled-27, .icon-untitled-28, .icon-untitled-29, .icon-untitled-30, .icon-untitled-31, .icon-untitled-32, .icon-untitled-33, .icon-untitled-34, .icon-untitled-35, .icon-untitled-36, .icon-untitled-37, .icon-untitled-38, .icon-untitled-39, .icon-untitled-40, .icon-untitled-41, .icon-untitled-42, .icon-untitled-43, .icon-untitled-44, .icon-untitled-45, .icon-untitled-46, .icon-untitled-47, .icon-untitled-48, .icon-untitled-49, .icon-untitled-50, .icon-untitled-51, .icon-untitled-52, .icon-untitled-53, .icon-untitled-54, .icon-untitled-55, .icon-untitled-56, .icon-untitled-57, .icon-untitled-58, .icon-untitled-59, .icon-untitled-60, .icon-untitled-61, .icon-untitled-62, .icon-untitled-63, .icon-untitled-64, .icon-untitled-65, .icon-untitled-66, .icon-untitled-67, .icon-untitled-68, .icon-untitled-69, .icon-untitled-70, .icon-untitled-71, .icon-untitled-72, .icon-untitled-73, .icon-untitled-74, .icon-untitled-75, .icon-untitled-76, .icon-untitled-77, .icon-untitled-78, .icon-untitled-79, .icon-untitled-80, .icon-untitled-81, .icon-untitled-82, .icon-untitled-83, .icon-untitled-84, .icon-untitled-85, .icon-untitled-86, .icon-untitled-87, .icon-untitled-88, .icon-untitled-89, .icon-untitled-90, .icon-untitled-91, .icon-untitled-92, .icon-untitled-93, .icon-untitled-94, .icon-untitled-95, .icon-untitled-96, .icon-untitled-97, .icon-untitled-98, .icon-untitled-99, .icon-untitled-100, .icon-untitled-101, .icon-untitled-102, .icon-untitled-103, .icon-untitled-104, .icon-untitled-105, .icon-untitled-106, .icon-untitled-107, .icon-untitled-108, .icon-untitled-109, .icon-untitled-110, .icon-untitled-111, .icon-untitled-112, .icon-untitled-113, .icon-untitled-114, .icon-untitled-115, .icon-untitled-116, .icon-untitled-117, .icon-untitled-118, .icon-untitled-119, .icon-untitled-120, .icon-untitled-121, .icon-untitled-122, .icon-untitled-123, .icon-untitled-124, .icon-untitled-125, .icon-untitled-126, .icon-untitled-127, .icon-untitled-128, .icon-untitled-129, .icon-untitled-130, .icon-untitled-131, .icon-untitled-132, .icon-untitled-133, .icon-untitled-134, .icon-untitled-135, .icon-untitled-136, .icon-untitled-137, .icon-untitled-138, .icon-untitled-139, .icon-untitled-140, .icon-untitled-141, .icon-untitled-142, .icon-untitled-143, .icon-untitled-144, .icon-untitled-145, .icon-untitled-146, .icon-untitled-147, .icon-untitled-148, .icon-untitled-149, .icon-untitled-150, .icon-untitled-151, .icon-untitled-152, .icon-untitled-153, .icon-untitled-154, .icon-untitled-155, .icon-untitled-156, .icon-untitled-157, .icon-untitled-158, .icon-untitled-159, .icon-untitled-160, .icon-untitled-161, .icon-untitled-162, .icon-untitled-163, .icon-untitled-164, .icon-untitled-165, .icon-untitled-166, .icon-untitled-167, .icon-untitled-168, .icon-untitled-169, .icon-untitled-170, .icon-untitled-171, .icon-untitled-172, .icon-untitled-173, .icon-untitled-174, .icon-untitled-175, .icon-untitled-176, .icon-untitled-177, .icon-untitled-178, .icon-untitled-179, .icon-untitled-180, .icon-untitled-181, .icon-untitled-182, .icon-untitled-183, .icon-untitled-184, .icon-untitled-185, .icon-untitled-186, .icon-untitled-187, .icon-untitled-188, .icon-untitled-189, .icon-untitled-190, .icon-untitled-191, .icon-untitled-192, .icon-untitled-193, .icon-untitled-194, .icon-untitled-195, .icon-untitled-196, .icon-untitled-197, .icon-untitled-198, .icon-untitled-199, .icon-untitled-200, .icon-earth, .icon-clock, .icon-minus, .icon-plus, .icon-cancel, .icon-question, .icon-comment, .icon-chat, .icon-speaker, .icon-heart, .icon-list, .icon-edit, .icon-trash, .icon-briefcase-2, .icon-newspaper, .icon-calendar, .icon-inbox, .icon-facebook, .icon-google-plus, .icon-instagram, .icon-contrast, .icon-brightness, .icon-user, .icon-users, .icon-sent, .icon-archive, .icon-desktop, .icon-reply, .icon-popup, .icon-grid, .icon-email, .icon-tag, .icon-film, .icon-share, .icon-picture, .icon-frame, .icon-wand, .icon-mobile, .icon-crop, .icon-marquee, .icon-locked, .icon-pin, .icon-zoom-in, .icon-zoom-out, .icon-search, .icon-home, .icon-cart, .icon-camera, .icon-compass, .icon-cloud, .icon-untitled-201, .icon-home-2, .icon-home-3, .icon-home-4, .icon-office, .icon-newspaper-2, .icon-pencil, .icon-pencil-2, .icon-quill, .icon-pen, .icon-blog, .icon-droplet, .icon-paint-format, .icon-image, .icon-image-2, .icon-images, .icon-camera-2, .icon-music, .icon-headphones, .icon-play, .icon-film-2, .icon-camera-3, .icon-dice, .icon-pacman, .icon-spades, .icon-clubs, .icon-diamonds, .icon-pawn, .icon-bullhorn, .icon-connection, .icon-podcast, .icon-feed, .icon-book, .icon-books, .icon-library, .icon-file, .icon-profile, .icon-file-2, .icon-file-3, .icon-file-4, .icon-copy, .icon-copy-2, .icon-copy-3, .icon-paste, .icon-paste-2, .icon-paste-3, .icon-stack, .icon-folder, .icon-folder-open, .icon-tag-2, .icon-tags, .icon-barcode, .icon-qrcode, .icon-ticket, .icon-cart-2, .icon-cart-3, .icon-cart-4, .icon-coin, .icon-credit, .icon-calculate, .icon-support, .icon-phone, .icon-phone-hang-up, .icon-address-book, .icon-notebook, .icon-envelop, .icon-pushpin, .icon-location, .icon-location-2, .icon-compass-2, .icon-map, .icon-map-2, .icon-history, .icon-clock-2, .icon-alarm, .icon-alarm-2, .icon-bell, .icon-stopwatch, .icon-calendar-2, .icon-calendar-3, .icon-print, .icon-keyboard, .icon-screen, .icon-laptop, .icon-mobile-2, .icon-mobile-3, .icon-tablet, .icon-tv, .icon-cabinet, .icon-drawer, .icon-drawer-2, .icon-drawer-3, .icon-box-add, .icon-box-remove, .icon-download, .icon-upload, .icon-disk, .icon-storage, .icon-undo, .icon-redo, .icon-flip, .icon-flip-2, .icon-undo-2, .icon-redo-2, .icon-forward, .icon-reply-2, .icon-bubble, .icon-bubbles, .icon-bubbles-2, .icon-bubble-2, .icon-bubbles-3, .icon-bubbles-4, .icon-user-2, .icon-users-2, .icon-user-3, .icon-users-3, .icon-user-4, .icon-user-5, .icon-quotes-left, .icon-busy, .icon-spinner, .icon-spinner-2, .icon-spinner-3, .icon-spinner-4, .icon-spinner-5, .icon-spinner-6, .icon-binoculars, .icon-search-2, .icon-zoom-in-2, .icon-zoom-out-2, .icon-expand, .icon-contract, .icon-clock-3, .icon-android, .icon-windows, .icon-windows8, .icon-soundcloud, .icon-soundcloud-2, .icon-skype, .icon-reddit, .icon-linkedin, .icon-lastfm, .icon-lastfm-2, .icon-delicious, .icon-stumbleupon, .icon-stackoverflow, .icon-pinterest, .icon-pinterest-2, .icon-xing, .icon-xing-2, .icon-flattr, .icon-foursquare, .icon-foursquare-2, .icon-paypal, .icon-paypal-2, .icon-yelp, .icon-libreoffice, .icon-file-pdf, .icon-file-openoffice, .icon-file-word, .icon-file-excel, .icon-file-zip, .icon-file-powerpoint, .icon-file-xml, .icon-file-css, .icon-html5, .icon-css3, .icon-chrome, .icon-firefox, .icon-IE, .icon-opera, .icon-safari, .icon-IcoMoon, .icon-paypal-3, .icon-html5-2, .icon-stumbleupon-2, .icon-flag, .icon-ipod, .icon-trashcan, .icon-bolt, .icon-ampersand, .icon-compass-3, .icon-list-2, .icon-grid-2, .icon-volume, .icon-forward-2, .icon-paperclip, .icon-keyboard-2, .icon-crop-2, .icon-floppy, .icon-filter, .icon-trophy, .icon-diary, .icon-address-book-2, .icon-bookmark, .icon-camera-4, .icon-lamp, .icon-disk-2, .icon-button, .icon-database, .icon-credit-card, .icon-atom, .icon-winsows, .icon-volume-2, .icon-stats, .icon-target-2, .icon-stop, .icon-smiley, .icon-shit, .icon-target-3, .icon-battery, .icon-code {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-airplane:before {
	content: "\e02e";
}
.icon-remove:before {
	content: "\e030";
}
.icon-briefcase:before {
	content: "\e031";
}
.icon-truck:before {
	content: "\e032";
}
.icon-road:before {
	content: "\e033";
}
.icon-accessibility:before {
	content: "\e034";
}
.icon-target:before {
	content: "\e035";
}
.icon-shield:before {
	content: "\e036";
}
.icon-lightning:before {
	content: "\e037";
}
.icon-switch:before {
	content: "\e038";
}
.icon-power-cord:before {
	content: "\e039";
}
.icon-signup:before {
	content: "\e03a";
}
.icon-arrow-up-left:before {
	content: "\e044";
}
.icon-arrow-up:before {
	content: "\e045";
}
.icon-arrow-up-right:before {
	content: "\e046";
}
.icon-arrow-right:before {
	content: "\e047";
}
.icon-arrow-down-right:before {
	content: "\e048";
}
.icon-arrow-down:before {
	content: "\e049";
}
.icon-arrow-down-left:before {
	content: "\e04a";
}
.icon-arrow-left:before {
	content: "\e04b";
}
.icon-cog:before {
	content: "\e04c";
}
.icon-gift:before {
	content: "\e04d";
}
.icon-calendar-alt-fill:before {
	content: "\e04f";
}
.icon-magnifying-glass:before {
	content: "\e050";
}
.icon-loop:before {
	content: "\e051";
}
.icon-untitled:before {
	content: "\2212";
}
.icon-untitled-2:before {
	content: "\2601";
}
.icon-untitled-3:before {
	content: "\e007";
}
.icon-untitled-4:before {
	content: "\e008";
}
.icon-untitled-5:before {
	content: "\e009";
}
.icon-untitled-6:before {
	content: "\e010";
}
.icon-untitled-7:before {
	content: "\e011";
}
.icon-untitled-8:before {
	content: "\e019";
}
.icon-untitled-9:before {
	content: "\e020";
}
.icon-untitled-10:before {
	content: "\e021";
}
.icon-untitled-11:before {
	content: "\e022";
}
.icon-untitled-12:before {
	content: "\e023";
}
.icon-untitled-13:before {
	content: "\e000";
}
.icon-untitled-14:before {
	content: "\e001";
}
.icon-untitled-15:before {
	content: "\e002";
}
.icon-untitled-16:before {
	content: "\e003";
}
.icon-untitled-17:before {
	content: "\e004";
}
.icon-untitled-18:before {
	content: "\2b";
}
.icon-untitled-19:before {
	content: "\2a";
}
.icon-untitled-20:before {
	content: "\20ac";
}
.icon-untitled-21:before {
	content: "\2709";
}
.icon-untitled-22:before {
	content: "\270f";
}
.icon-untitled-23:before {
	content: "\e005";
}
.icon-untitled-24:before {
	content: "\e006";
}
.icon-untitled-25:before {
	content: "\e00a";
}
.icon-untitled-26:before {
	content: "\e00b";
}
.icon-untitled-27:before {
	content: "\e00c";
}
.icon-untitled-28:before {
	content: "\e012";
}
.icon-untitled-29:before {
	content: "\e013";
}
.icon-untitled-30:before {
	content: "\e014";
}
.icon-untitled-31:before {
	content: "\e015";
}
.icon-untitled-32:before {
	content: "\e016";
}
.icon-untitled-33:before {
	content: "\e017";
}
.icon-untitled-34:before {
	content: "\e018";
}
.icon-untitled-35:before {
	content: "\e024";
}
.icon-untitled-36:before {
	content: "\e025";
}
.icon-untitled-37:before {
	content: "\e026";
}
.icon-untitled-38:before {
	content: "\e027";
}
.icon-untitled-39:before {
	content: "\e028";
}
.icon-untitled-40:before {
	content: "\e029";
}
.icon-untitled-41:before {
	content: "\e00d";
}
.icon-untitled-42:before {
	content: "\e00e";
}
.icon-untitled-43:before {
	content: "\e00f";
}
.icon-untitled-44:before {
	content: "\e01a";
}
.icon-untitled-45:before {
	content: "\e040";
}
.icon-untitled-46:before {
	content: "\e041";
}
.icon-untitled-47:before {
	content: "\e042";
}
.icon-untitled-48:before {
	content: "\e043";
}
.icon-untitled-49:before {
	content: "\e01b";
}
.icon-untitled-50:before {
	content: "\e01c";
}
.icon-untitled-51:before {
	content: "\e01d";
}
.icon-untitled-52:before {
	content: "\e01e";
}
.icon-untitled-53:before {
	content: "\e01f";
}
.icon-untitled-54:before {
	content: "\e02a";
}
.icon-untitled-55:before {
	content: "\e052";
}
.icon-untitled-56:before {
	content: "\e053";
}
.icon-untitled-57:before {
	content: "\e054";
}
.icon-untitled-58:before {
	content: "\e055";
}
.icon-untitled-59:before {
	content: "\e056";
}
.icon-untitled-60:before {
	content: "\e058";
}
.icon-untitled-61:before {
	content: "\e059";
}
.icon-untitled-62:before {
	content: "\e060";
}
.icon-untitled-63:before {
	content: "\e062";
}
.icon-untitled-64:before {
	content: "\e063";
}
.icon-untitled-65:before {
	content: "\e064";
}
.icon-untitled-66:before {
	content: "\e065";
}
.icon-untitled-67:before {
	content: "\e066";
}
.icon-untitled-68:before {
	content: "\e067";
}
.icon-untitled-69:before {
	content: "\e068";
}
.icon-untitled-70:before {
	content: "\e069";
}
.icon-untitled-71:before {
	content: "\e071";
}
.icon-untitled-72:before {
	content: "\e072";
}
.icon-untitled-73:before {
	content: "\e073";
}
.icon-untitled-74:before {
	content: "\e074";
}
.icon-untitled-75:before {
	content: "\e075";
}
.icon-untitled-76:before {
	content: "\e076";
}
.icon-untitled-77:before {
	content: "\e077";
}
.icon-untitled-78:before {
	content: "\e078";
}
.icon-untitled-79:before {
	content: "\e079";
}
.icon-untitled-80:before {
	content: "\e080";
}
.icon-untitled-81:before {
	content: "\e081";
}
.icon-untitled-82:before {
	content: "\e083";
}
.icon-untitled-83:before {
	content: "\e084";
}
.icon-untitled-84:before {
	content: "\e085";
}
.icon-untitled-85:before {
	content: "\e086";
}
.icon-untitled-86:before {
	content: "\e087";
}
.icon-untitled-87:before {
	content: "\e088";
}
.icon-untitled-88:before {
	content: "\e089";
}
.icon-untitled-89:before {
	content: "\e090";
}
.icon-untitled-90:before {
	content: "\e091";
}
.icon-untitled-91:before {
	content: "\e092";
}
.icon-untitled-92:before {
	content: "\e093";
}
.icon-untitled-93:before {
	content: "\e057";
}
.icon-untitled-94:before {
	content: "\e070";
}
.icon-untitled-95:before {
	content: "\e082";
}
.icon-untitled-96:before {
	content: "\e094";
}
.icon-untitled-97:before {
	content: "\e095";
}
.icon-untitled-98:before {
	content: "\e096";
}
.icon-untitled-99:before {
	content: "\e097";
}
.icon-untitled-100:before {
	content: "\e101";
}
.icon-untitled-101:before {
	content: "\e102";
}
.icon-untitled-102:before {
	content: "\e103";
}
.icon-untitled-103:before {
	content: "\e105";
}
.icon-untitled-104:before {
	content: "\e106";
}
.icon-untitled-105:before {
	content: "\e107";
}
.icon-untitled-106:before {
	content: "\e108";
}
.icon-untitled-107:before {
	content: "\e110";
}
.icon-untitled-108:before {
	content: "\e111";
}
.icon-untitled-109:before {
	content: "\e112";
}
.icon-untitled-110:before {
	content: "\e113";
}
.icon-untitled-111:before {
	content: "\e114";
}
.icon-untitled-112:before {
	content: "\e115";
}
.icon-untitled-113:before {
	content: "\e116";
}
.icon-untitled-114:before {
	content: "\e117";
}
.icon-untitled-115:before {
	content: "\e118";
}
.icon-untitled-116:before {
	content: "\e119";
}
.icon-untitled-117:before {
	content: "\e120";
}
.icon-untitled-118:before {
	content: "\e121";
}
.icon-untitled-119:before {
	content: "\e122";
}
.icon-untitled-120:before {
	content: "\e124";
}
.icon-untitled-121:before {
	content: "\e125";
}
.icon-untitled-122:before {
	content: "\e126";
}
.icon-untitled-123:before {
	content: "\e127";
}
.icon-untitled-124:before {
	content: "\e128";
}
.icon-untitled-125:before {
	content: "\e129";
}
.icon-untitled-126:before {
	content: "\e130";
}
.icon-untitled-127:before {
	content: "\e131";
}
.icon-untitled-128:before {
	content: "\e132";
}
.icon-untitled-129:before {
	content: "\e133";
}
.icon-untitled-130:before {
	content: "\e134";
}
.icon-untitled-131:before {
	content: "\e135";
}
.icon-untitled-132:before {
	content: "\e137";
}
.icon-untitled-133:before {
	content: "\e138";
}
.icon-untitled-134:before {
	content: "\e140";
}
.icon-untitled-135:before {
	content: "\e141";
}
.icon-untitled-136:before {
	content: "\e143";
}
.icon-untitled-137:before {
	content: "\e144";
}
.icon-untitled-138:before {
	content: "\e145";
}
.icon-untitled-139:before {
	content: "\e148";
}
.icon-untitled-140:before {
	content: "\e149";
}
.icon-untitled-141:before {
	content: "\e150";
}
.icon-untitled-142:before {
	content: "\e151";
}
.icon-untitled-143:before {
	content: "\e152";
}
.icon-untitled-144:before {
	content: "\e153";
}
.icon-untitled-145:before {
	content: "\e154";
}
.icon-untitled-146:before {
	content: "\e155";
}
.icon-untitled-147:before {
	content: "\e156";
}
.icon-untitled-148:before {
	content: "\e157";
}
.icon-untitled-149:before {
	content: "\e158";
}
.icon-untitled-150:before {
	content: "\e159";
}
.icon-untitled-151:before {
	content: "\e160";
}
.icon-untitled-152:before {
	content: "\e161";
}
.icon-untitled-153:before {
	content: "\e162";
}
.icon-untitled-154:before {
	content: "\e163";
}
.icon-untitled-155:before {
	content: "\e164";
}
.icon-untitled-156:before {
	content: "\e165";
}
.icon-untitled-157:before {
	content: "\e166";
}
.icon-untitled-158:before {
	content: "\e167";
}
.icon-untitled-159:before {
	content: "\e168";
}
.icon-untitled-160:before {
	content: "\e169";
}
.icon-untitled-161:before {
	content: "\e170";
}
.icon-untitled-162:before {
	content: "\e171";
}
.icon-untitled-163:before {
	content: "\e172";
}
.icon-untitled-164:before {
	content: "\e173";
}
.icon-untitled-165:before {
	content: "\e174";
}
.icon-untitled-166:before {
	content: "\e175";
}
.icon-untitled-167:before {
	content: "\e176";
}
.icon-untitled-168:before {
	content: "\e178";
}
.icon-untitled-169:before {
	content: "\e179";
}
.icon-untitled-170:before {
	content: "\e180";
}
.icon-untitled-171:before {
	content: "\e181";
}
.icon-untitled-172:before {
	content: "\e182";
}
.icon-untitled-173:before {
	content: "\e183";
}
.icon-untitled-174:before {
	content: "\e184";
}
.icon-untitled-175:before {
	content: "\e185";
}
.icon-untitled-176:before {
	content: "\e186";
}
.icon-untitled-177:before {
	content: "\e187";
}
.icon-untitled-178:before {
	content: "\e188";
}
.icon-untitled-179:before {
	content: "\e190";
}
.icon-untitled-180:before {
	content: "\e191";
}
.icon-untitled-181:before {
	content: "\e192";
}
.icon-untitled-182:before {
	content: "\e193";
}
.icon-untitled-183:before {
	content: "\e194";
}
.icon-untitled-184:before {
	content: "\e195";
}
.icon-untitled-185:before {
	content: "\e197";
}
.icon-untitled-186:before {
	content: "\e198";
}
.icon-untitled-187:before {
	content: "\e199";
}
.icon-untitled-188:before {
	content: "\e200";
}
.icon-untitled-189:before {
	content: "\1f4bc";
}
.icon-untitled-190:before {
	content: "\1f4cc";
}
.icon-untitled-191:before {
	content: "\1f4ce";
}
.icon-untitled-192:before {
	content: "\1f4f7";
}
.icon-untitled-193:before {
	content: "\1f512";
}
.icon-untitled-194:before {
	content: "\1f514";
}
.icon-untitled-195:before {
	content: "\1f516";
}
.icon-untitled-196:before {
	content: "\1f525";
}
.icon-untitled-197:before {
	content: "\1f527";
}
.icon-untitled-198:before {
	content: "\e177";
}
.icon-untitled-199:before {
	content: "\e189";
}
.icon-untitled-200:before {
	content: "\1f4c5";
}
.icon-earth:before {
	content: "\e02b";
}
.icon-clock:before {
	content: "\e02c";
}
.icon-minus:before {
	content: "\e02d";
}
.icon-plus:before {
	content: "\e02f";
}
.icon-cancel:before {
	content: "\e03b";
}
.icon-question:before {
	content: "\e03c";
}
.icon-comment:before {
	content: "\e03d";
}
.icon-chat:before {
	content: "\e03e";
}
.icon-speaker:before {
	content: "\e03f";
}
.icon-heart:before {
	content: "\e05a";
}
.icon-list:before {
	content: "\e05b";
}
.icon-edit:before {
	content: "\e05c";
}
.icon-trash:before {
	content: "\e05d";
}
.icon-briefcase-2:before {
	content: "\e05e";
}
.icon-newspaper:before {
	content: "\e05f";
}
.icon-calendar:before {
	content: "\e061";
}
.icon-inbox:before {
	content: "\e06a";
}
.icon-facebook:before {
	content: "\e06b";
}
.icon-google-plus:before {
	content: "\e06c";
}
.icon-instagram:before {
	content: "\e06d";
}
.icon-contrast:before {
	content: "\e06e";
}
.icon-brightness:before {
	content: "\e06f";
}
.icon-user:before {
	content: "\e07a";
}
.icon-users:before {
	content: "\e07b";
}
.icon-sent:before {
	content: "\e07c";
}
.icon-archive:before {
	content: "\e07d";
}
.icon-desktop:before {
	content: "\e07e";
}
.icon-reply:before {
	content: "\e07f";
}
.icon-popup:before {
	content: "\e08a";
}
.icon-grid:before {
	content: "\e08b";
}
.icon-email:before {
	content: "\e08c";
}
.icon-tag:before {
	content: "\e08d";
}
.icon-film:before {
	content: "\e08e";
}
.icon-share:before {
	content: "\e08f";
}
.icon-picture:before {
	content: "\e098";
}
.icon-frame:before {
	content: "\e099";
}
.icon-wand:before {
	content: "\e09a";
}
.icon-mobile:before {
	content: "\e09b";
}
.icon-crop:before {
	content: "\e09c";
}
.icon-marquee:before {
	content: "\e09d";
}
.icon-locked:before {
	content: "\e09e";
}
.icon-pin:before {
	content: "\e09f";
}
.icon-zoom-in:before {
	content: "\e0a0";
}
.icon-zoom-out:before {
	content: "\e0a1";
}
.icon-search:before {
	content: "\e0a2";
}
.icon-home:before {
	content: "\e0a3";
}
.icon-cart:before {
	content: "\e0a4";
}
.icon-camera:before {
	content: "\e0a5";
}
.icon-compass:before {
	content: "\e0a6";
}
.icon-cloud:before {
	content: "\e0a7";
}
.icon-untitled-201:before {
	content: "\e0a8";
}
.icon-home-2:before {
	content: "\e0a9";
}
.icon-home-3:before {
	content: "\e0aa";
}
.icon-home-4:before {
	content: "\e0ab";
}
.icon-office:before {
	content: "\e0ac";
}
.icon-newspaper-2:before {
	content: "\e0ad";
}
.icon-pencil:before {
	content: "\e0ae";
}
.icon-pencil-2:before {
	content: "\e0af";
}
.icon-quill:before {
	content: "\e0b0";
}
.icon-pen:before {
	content: "\e0b1";
}
.icon-blog:before {
	content: "\e0b2";
}
.icon-droplet:before {
	content: "\e0b3";
}
.icon-paint-format:before {
	content: "\e0b4";
}
.icon-image:before {
	content: "\e0b5";
}
.icon-image-2:before {
	content: "\e0b6";
}
.icon-images:before {
	content: "\e0b7";
}
.icon-camera-2:before {
	content: "\e0b8";
}
.icon-music:before {
	content: "\e0b9";
}
.icon-headphones:before {
	content: "\e0ba";
}
.icon-play:before {
	content: "\e0bb";
}
.icon-film-2:before {
	content: "\e0bc";
}
.icon-camera-3:before {
	content: "\e0bd";
}
.icon-dice:before {
	content: "\e0be";
}
.icon-pacman:before {
	content: "\e0bf";
}
.icon-spades:before {
	content: "\e0c0";
}
.icon-clubs:before {
	content: "\e0c1";
}
.icon-diamonds:before {
	content: "\e0c2";
}
.icon-pawn:before {
	content: "\e0c3";
}
.icon-bullhorn:before {
	content: "\e0c4";
}
.icon-connection:before {
	content: "\e0c5";
}
.icon-podcast:before {
	content: "\e0c6";
}
.icon-feed:before {
	content: "\e0c7";
}
.icon-book:before {
	content: "\e0c8";
}
.icon-books:before {
	content: "\e0c9";
}
.icon-library:before {
	content: "\e0ca";
}
.icon-file:before {
	content: "\e0cb";
}
.icon-profile:before {
	content: "\e0cc";
}
.icon-file-2:before {
	content: "\e0cd";
}
.icon-file-3:before {
	content: "\e0ce";
}
.icon-file-4:before {
	content: "\e0cf";
}
.icon-copy:before {
	content: "\e0d0";
}
.icon-copy-2:before {
	content: "\e0d1";
}
.icon-copy-3:before {
	content: "\e0d2";
}
.icon-paste:before {
	content: "\e0d3";
}
.icon-paste-2:before {
	content: "\e0d4";
}
.icon-paste-3:before {
	content: "\e0d5";
}
.icon-stack:before {
	content: "\e0d6";
}
.icon-folder:before {
	content: "\e0d7";
}
.icon-folder-open:before {
	content: "\e0d8";
}
.icon-tag-2:before {
	content: "\e0d9";
}
.icon-tags:before {
	content: "\e0da";
}
.icon-barcode:before {
	content: "\e0db";
}
.icon-qrcode:before {
	content: "\e0dc";
}
.icon-ticket:before {
	content: "\e0dd";
}
.icon-cart-2:before {
	content: "\e0de";
}
.icon-cart-3:before {
	content: "\e0df";
}
.icon-cart-4:before {
	content: "\e0e0";
}
.icon-coin:before {
	content: "\e0e1";
}
.icon-credit:before {
	content: "\e0e2";
}
.icon-calculate:before {
	content: "\e0e3";
}
.icon-support:before {
	content: "\e0e4";
}
.icon-phone:before {
	content: "\e0e5";
}
.icon-phone-hang-up:before {
	content: "\e0e6";
}
.icon-address-book:before {
	content: "\e0e7";
}
.icon-notebook:before {
	content: "\e0e8";
}
.icon-envelop:before {
	content: "\e0e9";
}
.icon-pushpin:before {
	content: "\e0ea";
}
.icon-location:before {
	content: "\e0eb";
}
.icon-location-2:before {
	content: "\e0ec";
}
.icon-compass-2:before {
	content: "\e0ed";
}
.icon-map:before {
	content: "\e0ee";
}
.icon-map-2:before {
	content: "\e0ef";
}
.icon-history:before {
	content: "\e0f0";
}
.icon-clock-2:before {
	content: "\e0f1";
}
.icon-alarm:before {
	content: "\e0f2";
}
.icon-alarm-2:before {
	content: "\e0f3";
}
.icon-bell:before {
	content: "\e0f4";
}
.icon-stopwatch:before {
	content: "\e0f5";
}
.icon-calendar-2:before {
	content: "\e0f6";
}
.icon-calendar-3:before {
	content: "\e0f7";
}
.icon-print:before {
	content: "\e0f8";
}
.icon-keyboard:before {
	content: "\e0f9";
}
.icon-screen:before {
	content: "\e0fa";
}
.icon-laptop:before {
	content: "\e0fb";
}
.icon-mobile-2:before {
	content: "\e0fc";
}
.icon-mobile-3:before {
	content: "\e0fd";
}
.icon-tablet:before {
	content: "\e0fe";
}
.icon-tv:before {
	content: "\e0ff";
}
.icon-cabinet:before {
	content: "\e100";
}
.icon-drawer:before {
	content: "\e104";
}
.icon-drawer-2:before {
	content: "\e109";
}
.icon-drawer-3:before {
	content: "\e10a";
}
.icon-box-add:before {
	content: "\e10b";
}
.icon-box-remove:before {
	content: "\e10c";
}
.icon-download:before {
	content: "\e10d";
}
.icon-upload:before {
	content: "\e10e";
}
.icon-disk:before {
	content: "\e10f";
}
.icon-storage:before {
	content: "\e11a";
}
.icon-undo:before {
	content: "\e11b";
}
.icon-redo:before {
	content: "\e11c";
}
.icon-flip:before {
	content: "\e11d";
}
.icon-flip-2:before {
	content: "\e11e";
}
.icon-undo-2:before {
	content: "\e11f";
}
.icon-redo-2:before {
	content: "\e123";
}
.icon-forward:before {
	content: "\e12a";
}
.icon-reply-2:before {
	content: "\e12b";
}
.icon-bubble:before {
	content: "\e12c";
}
.icon-bubbles:before {
	content: "\e12d";
}
.icon-bubbles-2:before {
	content: "\e12e";
}
.icon-bubble-2:before {
	content: "\e12f";
}
.icon-bubbles-3:before {
	content: "\e136";
}
.icon-bubbles-4:before {
	content: "\e139";
}
.icon-user-2:before {
	content: "\e13a";
}
.icon-users-2:before {
	content: "\e13b";
}
.icon-user-3:before {
	content: "\e13c";
}
.icon-users-3:before {
	content: "\e13d";
}
.icon-user-4:before {
	content: "\e13e";
}
.icon-user-5:before {
	content: "\e13f";
}
.icon-quotes-left:before {
	content: "\e142";
}
.icon-busy:before {
	content: "\e146";
}
.icon-spinner:before {
	content: "\e147";
}
.icon-spinner-2:before {
	content: "\e14a";
}
.icon-spinner-3:before {
	content: "\e14b";
}
.icon-spinner-4:before {
	content: "\e14c";
}
.icon-spinner-5:before {
	content: "\e14d";
}
.icon-spinner-6:before {
	content: "\e14e";
}
.icon-binoculars:before {
	content: "\e14f";
}
.icon-search-2:before {
	content: "\e15a";
}
.icon-zoom-in-2:before {
	content: "\e15b";
}
.icon-zoom-out-2:before {
	content: "\e15c";
}
.icon-expand:before {
	content: "\e15d";
}
.icon-contract:before {
	content: "\e15e";
}
.icon-clock-3:before {
	content: "\e15f";
}
.icon-android:before {
	content: "\e16a";
}
.icon-windows:before {
	content: "\e16b";
}
.icon-windows8:before {
	content: "\e16c";
}
.icon-soundcloud:before {
	content: "\e16d";
}
.icon-soundcloud-2:before {
	content: "\e16e";
}
.icon-skype:before {
	content: "\e16f";
}
.icon-reddit:before {
	content: "\e17a";
}
.icon-linkedin:before {
	content: "\e17b";
}
.icon-lastfm:before {
	content: "\e17c";
}
.icon-lastfm-2:before {
	content: "\e17d";
}
.icon-delicious:before {
	content: "\e17e";
}
.icon-stumbleupon:before {
	content: "\e17f";
}
.icon-stackoverflow:before {
	content: "\e18a";
}
.icon-pinterest:before {
	content: "\e18b";
}
.icon-pinterest-2:before {
	content: "\e18c";
}
.icon-xing:before {
	content: "\e18d";
}
.icon-xing-2:before {
	content: "\e18e";
}
.icon-flattr:before {
	content: "\e18f";
}
.icon-foursquare:before {
	content: "\e196";
}
.icon-foursquare-2:before {
	content: "\e19a";
}
.icon-paypal:before {
	content: "\e19b";
}
.icon-paypal-2:before {
	content: "\e19c";
}
.icon-yelp:before {
	content: "\e19d";
}
.icon-libreoffice:before {
	content: "\e19e";
}
.icon-file-pdf:before {
	content: "\e19f";
}
.icon-file-openoffice:before {
	content: "\e1a0";
}
.icon-file-word:before {
	content: "\e1a1";
}
.icon-file-excel:before {
	content: "\e1a2";
}
.icon-file-zip:before {
	content: "\e1a3";
}
.icon-file-powerpoint:before {
	content: "\e1a4";
}
.icon-file-xml:before {
	content: "\e1a5";
}
.icon-file-css:before {
	content: "\e1a6";
}
.icon-html5:before {
	content: "\e1a7";
}
.icon-css3:before {
	content: "\e1a8";
}
.icon-chrome:before {
	content: "\e1a9";
}
.icon-firefox:before {
	content: "\e1aa";
}
.icon-IE:before {
	content: "\e1ab";
}
.icon-opera:before {
	content: "\e1ac";
}
.icon-safari:before {
	content: "\e1ad";
}
.icon-IcoMoon:before {
	content: "\e1ae";
}
.icon-paypal-3:before {
	content: "\e1af";
}
.icon-html5-2:before {
	content: "\e1b0";
}
.icon-stumbleupon-2:before {
	content: "\e1b1";
}
.icon-flag:before {
	content: "\e1b2";
}
.icon-ipod:before {
	content: "\e1b3";
}
.icon-trashcan:before {
	content: "\e1b4";
}
.icon-bolt:before {
	content: "\e1b5";
}
.icon-ampersand:before {
	content: "\e1b6";
}
.icon-compass-3:before {
	content: "\e1b7";
}
.icon-list-2:before {
	content: "\e1b8";
}
.icon-grid-2:before {
	content: "\e1b9";
}
.icon-volume:before {
	content: "\e1ba";
}
.icon-forward-2:before {
	content: "\e1bb";
}
.icon-paperclip:before {
	content: "\e1bc";
}
.icon-keyboard-2:before {
	content: "\e1bd";
}
.icon-crop-2:before {
	content: "\e1be";
}
.icon-floppy:before {
	content: "\e1bf";
}
.icon-filter:before {
	content: "\e1c0";
}
.icon-trophy:before {
	content: "\e1c1";
}
.icon-diary:before {
	content: "\e1c2";
}
.icon-address-book-2:before {
	content: "\e1c3";
}
.icon-bookmark:before {
	content: "\e1c4";
}
.icon-camera-4:before {
	content: "\e1c5";
}
.icon-lamp:before {
	content: "\e1c6";
}
.icon-disk-2:before {
	content: "\e1c7";
}
.icon-button:before {
	content: "\e1c8";
}
.icon-database:before {
	content: "\e1c9";
}
.icon-credit-card:before {
	content: "\e1ca";
}
.icon-atom:before {
	content: "\e1cb";
}
.icon-winsows:before {
	content: "\e04e";
}
.icon-volume-2:before {
	content: "\e1cc";
}
.icon-stats:before {
	content: "\e1cd";
}
.icon-target-2:before {
	content: "\e1ce";
}
.icon-stop:before {
	content: "\e1cf";
}
.icon-smiley:before {
	content: "\e1d0";
}
.icon-shit:before {
	content: "\e1d1";
}
.icon-target-3:before {
	content: "\e1d2";
}
.icon-battery:before {
	content: "\e1d3";
}
.icon-code:before {
	content: "\e1d4";
}
